server:
  port: 9000
spring:
  application:
    name: "cards" # este es el nombre de la aplicaci칩n, el cu치l se mostrarar치 en el tablero de eureka
  profiles:
    active: "prod"
  config:
    import: "optional:configserver:http://localhost:8071/"
  cloud: # configuration of circuitbreaker-resilience4j
    openfeign:
      circuitbreaker:
        alphanumeric-ids:
          enabled: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint:
    shutdown:
      enabled: true
    health:
      probes:
        enabled: true
  info:
    env:
      enabled: true

#--------------------------------------------- Informaci칩n del Microservicio ---------------------------------------------#
info:
  app:
    name: "cards"
    description: "uarciac Cards Application"
    version: "1.0.0"

endpoints:
  shutdown:
    enabled: true

#--------------------------------------------- CONFIG EUREKA SERVER ---------------------------------------------#
eureka:
  instance:
    preferIpAddress: true
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://localhost:8070/eureka/

logging:
  level:
    com:
      ulisesgc:
        cards: DEBUG

#--------------------------------------------- configuration of circuitbreaker-resilience4j ---------------------------------------------#
resilience4j.circuitbreaker:
  configs:
    default:
      slidingWindowSize: 10
      permittedNumberOfCallsInHalfOpenState: 2
      failureRateThreshold: 50
      waitDurationInOpenState: 10000
